<div class="container " style="height:600px;width:max;" [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat 0 0 / cover'}">
  <div style="margin-bottom: 10%;" >
    <h1 style="text-align: center; margin-top: 10%; color:grey">My Adress Book</h1>
  </div>
  <div class="card responsive mx-auto md-auto mb-3" style="max-width: 70rem; background-color: gainsboro ;margin-top: 70px;">
  <div class="card-header" style="background-color: orangered;height: 20px"></div>
  <div class="card-body text-secondary" >
    <div class="form-group search-info" style="text-align: center; margin-left: 30%;">
      <input type="text" class="form-control"  placeholder="Search" style="max-width: 50% " [(ngModel)] = "search" />
    </div>
    <div style="color: orangered; margin-left: 25%; ">
      <a type="button"style="margin-left: 8%;"><strong>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</strong></a>
    </div><br><br>
    <div >

    <div class="card row" style="max-width: 10rem ;max-height: 20rem ; ">

      <div *ngFor="let test of (table | filter : search ); let  i= index "   class="card-body text-secondary" style="margin-left: 5rem;" >
        <div>
        <div>
          <button  style="color:orangered;border: 1px solid orangered; border-radius: 150px; width: 50px; height: 50px; background-color: transparent;font-size: 30px; margin-top: 2px;"><i class="fa fa-user" style="font-size:36px"></i></button>
        </div>
      </div>
        <div style="text-align: center; margin-left: 30px;">
      <div>

       <a> <h4  class="text-muted" >{{test.name}}</h4></a>
      </div>
       <div>
          <h4 class="textmuted">{{test.phone}}</h4>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

</div>
